
/* -----------------------sujeet start------------------------ */

*{
    margin: 0;
    padding: 0;
}

nav {
    background: linear-gradient(90deg, #ffffff, #c9dfed);
    color: #52c1f7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}


nav ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}

.logo a img {
    width: 200px;
    height: 50px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateZ(0);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.logo a img:hover {
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    color: #52c1f7;
    font-weight: 600;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #52c1f7;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
    transform: scale(1.1);
}

.search input {
    border: 1px solid #52c1f7;
    border-radius: 20px;
    padding: 8px 100px 8px 8px;
    margin-left: 80px;
    outline: none;
}
.signlogBtn{
    margin-left: 50px;
}
.signlogBtn a {
    text-decoration: none;
    border: 1px solid;
    border-radius: 20px;
    padding: 8px 28px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
}
.signlogBtn a:nth-child(1){
    background-color: #52c1f7;
    color: #fff;
    margin-right: 15px;
}
.signlogBtn a:nth-child(2){
    background-color: #fff;
    color: #52c1f7;
}

/* -------------------- for login page------------------------- */

#loginPage {
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.7)), url(https://e0.pxfuel.com/wallpapers/765/243/desktop-wallpaper-cherry-blossom-widescreen-jpg-289-kb-cool-cherry-blossom-drawing.jpg);
    ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.loginCard {
    width: 480px;
    height: 580px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    position: absolute;
    top: 12%;
    left: 60%;
}


.signin {
    margin: 2.5rem;
}

.signin h1 {
    font-size: 40px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.signin p {
    color: #9098a8;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

.signin p a {
    text-decoration: none;
    color: blue;
}

.loginForm {
    display: flex;
    flex-direction: column;
    margin-top: 0.4rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}


.loginForm label {
    font-size: 13px;
    color: #7f8494;
    font-family: 'PT Sans', sans-serif;
}

#loginEmail {
    border: none;
    padding: 8px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    outline: none;
}

#loginPassword {
    border: none;
    padding: 8px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    outline: none;
}

#loginBtn {
    /* margin-right: 2.3rem; */
    margin-top: 1.3rem;
    padding: 8px;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    border: none;
    border-radius: 10rem;
    background-color: #1473e6;
}

.loginCard hr {
    margin-top: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons a {
    text-decoration: none;
    font-size: 18px;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: underline;  
}
a:hover {
    text-decoration: underline;
color: #52c1f7;}



.buttons a button {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background: transparent;
    width: 25rem;
    padding: 6px;
    border-radius: 20px;
    text-align: center;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons a img:nth-child(1) {
    width: 25px;
}

.buttons a img:nth-child(2) {
    width: 20px;
}

.buttons a img:nth-child(3) {
    width: 20px;
}


.gethelp {
    margin-top: 1.5rem;
    margin-left: 2.5rem;
}

.gethelp a {
    text-decoration: none;
    color: #2386eb;
    font-family: 'PT Sans', sans-serif;
}

/* ---------------------------- sign-up page------------------------ */

#signupPage {
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.7)), url(https://e0.pxfuel.com/wallpapers/178/18/desktop-wallpaper-cherry-blossoms-dark-cherry-blossom.jpg);
    ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.signupCard {
    width: 480px;
    height: 550px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    position: absolute;
    top: 12%;
    left: 60%;
}

.signupCard h1 {
    font-size: 40px;
    font-family: 'PT Sans', sans-serif;
    margin-top: 4rem;
    margin-left: 3rem;
    font-weight: 500;
}

.socialIcons {
    margin-top: 2.2rem;
    margin-left: 2rem;
}

.socialIcons img {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 8px;
    border-radius: 50%;
    gap: 10px;
    margin-left: 20px;
}

.socialIcons img:nth-child(1) {
    width: 28px;
}

#signupPage hr {
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.email {
    margin-top: 1.5rem;
    margin-left: 2rem;
}

.email h5 {
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 0.4rem;
}

.email p {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

.email p a {
    text-decoration: none;
    color: blue;
}

.form {
    margin-top: 1.5rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.form label {
    color: #9098a8;
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

#email {
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    margin-right: 2.5rem;
    padding: 8px;
    margin-bottom: 1rem;
    outline: none;
}

#password {
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    margin-right: 2.5rem;
    padding: 8px;
    outline: none;
}

.form button {
    margin-right: 2.3rem;
    margin-top: 1.5rem;
    padding: 10px;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    border: none;
    border-radius: 10rem;
    background-color: #1473e6;
}

/* button:hover{
    transform: scale(1.1);
} */



/* -----------------------sujeet end------------------------------ */

/* -----------------------Azad start------------------------------ */
.bgImg{
    height: auto;
    width: 100%;
    background: linear-gradient(45deg, #3498db, #e8b9b4, #ffffff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
}
.appName{
    width: 40%;
    text-align: center;
}
.appName img{
    width: 30%;
    height: 20%;
}
.appName h1{
    font-size: 80px;    
    font-weight: 600;
}
.appName h3{
    font-size: 35px;
    font-weight: 600;
}
.appName h5{
    font-size: 18px;
    font-weight: 200;
}

/* button start */
.appName button {
    position: relative;
    border: 2px solid #fff;
    background-color: #52c1f7;
    border-radius: 20px;
    color: #fff;
    padding: 10px 25px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.appName button::before,
.appName button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 6px 12px rgba(240, 234, 234, 0.667);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}

.appName button::before {
    top: -5px;
    left: -5px;
    transform: rotate(-45deg) scale(1.05);
    transform-origin: 0 0;
}

.appName button::after {
    bottom: -5px;
    right: -5px;
    transform: rotate(-45deg) scale(1.05);
    transform-origin: 100% 100%;
}

.appName button:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.appName button:hover::before,
.appName button:hover::after {
    opacity: 1;
    transform: rotate(0deg) scale(1.05);
}

.appName button:hover::before,
.appName button:hover::after {
    opacity: 1;
    transform: rotate(0deg) scale(1.05);
}

/* button end */

.subsBtn{
    width: 50%;
    text-align: center;
    margin-right: 2.5rem;
}
.subsBtn img{
    width: 60%;
}
.subsBtn p{
    font-size: 15px;
    color: #494343;
    font-weight: 400;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
}

/* ------------------------- Home-page end------------------------- */
/* ------------------------- Slider start------------------------- */

@mixin white-gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 14));
    }
} 
.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  
    &::before,
    &::after {
      @include white-gradient;
      content: "";
      height: 100px;
      position: absolute;
      width: 200px;
      z-index: 2;
    }
  
    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }
  
    &::before {
      left: 0;
      top: 0;
    }
  
    .slide-track {
      animation: scroll 40s linear infinite;
      display: flex;
      width: calc(250px * 14);
    }
  
    .slide {
      height: 100px;
      width: 250px;
    }
}

/* ------------------------- Slider end------------------------- */
/* --------------------container start------------------------- */

.container{
    padding : 30px 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1.5rem;
    align-items: center;
    cursor: pointer;
    font-family: 'PT Sans', sans-serif
}
.container_box{
    display: flex;
    align-items: center;
    gap: 1.8rem;
    border: 1px solid #e9ceef;
    border-radius: 20px;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    transition:  all .40s ease;
}
.container_box:hover{
    transform: translateY(-15px);
}
.container_img img{
    width: 70px;
    height: 70px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.container_text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.container_text h4{
    font-size: 20px;
}
.container_text p{
    font-size: 15px;
}

/* --------------------container end------------------------- */
/* -------------------- categories page start ------------------------- */
.categories{
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    padding-bottom: 30px;
    height: auto;
    background: linear-gradient(90deg,#edc5c1, #ffffff, #edc5c1);
}
.center-text h5{
    color: #e37c71;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
    
}
.center-text h2{
    font-size: 50px;
    text-align: center;
    color: #2e2f2f;
    padding: 10px 0;
}
.categories-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    align-items: center;
    cursor: pointer;
    text-align: center;
    margin-top: 4rem;
    margin : 0 30px;
}
.categories-img{
    align-items: center;
    padding: 20px;
    background: linear-gradient(45deg,#e2dbdb, #ffffff);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 15px;
}
.categories-img img{
    width: 180px;
    height: 180px;
    padding: 0 20px 0 20px;
    border-radius: 50%;
}
.categories-img h3{
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    color: #2e2f2f;
}
.categories-img p{
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
    color: #2e2f2f;
}
/* -------------------- categories page end ------------------------- */
/* -------------------- about page start ------------------------- */
.about{
    background: linear-gradient(45deg, #3498db, #e8b9b4, #ffffff);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'PT Sans', sans-serif;
    padding: 40px 5%;
    gap: 2rem;
    align-items: center;
}
.about-img img{
    width: 100%;
    height: auto;
}
.about-text h2{
    font-size: 50px;
    line-height: 1.2;
    color: black;
    margin-bottom: 20px;
}
.about-text p{
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 40px;
}
.about-text h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.about-text a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 40px;
}
.about-text a{
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 40px;
    background-color: #3498db;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    transition: all .40s ease;
}
.about-text a:hover{
    background-color: #e37c71;
    transform: scale(1.05);
}
/* -------------------- about page end ------------------------- */

/* -----------------------Azad end------------------------------ */
/* -----------------Abhishek css---------------------- */
.section2 {
    /* width: 100%; */
    padding: 20px 100px;
    background:linear-gradient(45deg, #3498db, #e8b9b4, #ffffff);
  }
  .section2 > div:nth-child(1) {
    text-align: center;
    /* margin-bottom: 50px; */
  }
  .section2 > div:nth-child(1) span {
    font-family: Oswald, sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #e37c71;;
  }
    #abhi_container{
    display: flex;
    font-family: arial;
    overflow: scroll;
    font-family: Arial, sans-serif;
    }
    #abhi_container::-webkit-scrollbar{
    display: none;
    }
    #abhi_container>div{
    /* border: 1px solid rgb(61, 51, 51); */
    display: inline-block;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px 8px;
    border-radius: 5px; 
    margin: 2%;
   }

.image iframe{
 width: 300px;
 height: 170px;
 border-top-right-radius: 5px;
 border-top-left-radius: 5px;    
}

.title{

 text-align: left;
 padding: 10px 20px 10px 20px;
 height: 60px;
 
}

.title h1{
 font-size: 20px;
}

.des{
/* border: 1px solid red; */
display: flex;
flex-direction: column;
text-align: left;
padding: 0px 20px 0px 20px;
}
.des>p:nth-child(1){
display: none;
/* border: 1px solid red; */
}
.des>p:nth-child(2){
font-weight: bold;
/* border: 1px solid red; */
margin-top: 0px;
}
.des>p:nth-child(3){
font-weight: bold;
/* border: 1px solid red; */
margin-top: 0px;
}
#abhi_container div button{
 margin: 10px 10px 20px 20px;
 /* background-color: white; */
 border: 1px solid black;
 border-radius: 5px;
 padding:10px;
 font-weight: bold;
 width: 200px;
}
#abhi_container div button:hover{
 background-color: black;
 color: white;
 transition: .5s;
 cursor: pointer;
}
.modal-container {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.5);
}

.modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
max-width: 600px;
border-radius: 10px;
}

.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
cursor: pointer;
}

.close:hover {
color: black;
}

  